<a href="https://colab.research.google.com/github/hiteshpujari/Python/blob/master/Pandas-series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.5'

In [5]:
list_s = [1,3,4,-6,8.8,'Hitesh']
print(list_s)

[1, 3, 4, -6, 8.8, 'Hitesh']

In [7]:
series1=pd.Series(list_s)
print(series1)

0         1
1         3
2         4
3        -6
4       8.8
5    Hitesh
dtype: object

In [13]:
series2=pd.Series([11,33,44,77,'Hitesh'])
print(series2)

0        11
1        33
2        44
3        77
4    Hitesh
dtype: object

In [15]:
series2=pd.Series([11,33,44,77,'Hitesh'],index=['a','b','c','d','e'])
print(series2)

a        11
b        33
c        44
d        77
e    Hitesh
dtype: object