<a href="https://colab.research.google.com/github/hiteshpujari/Python/blob/master/SalaryPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import Libraries 
%matplotlib inline
import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes
import seaborn as sns #sets up styles and gives us more plotting options
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [3]:
Yearofexp = [1.1,1.3,1.5,2.0,2.2,2.9,3.0]
Salary = [39343.0, 46205.0, 37731.0, 43525.0, 39891.0, 56642.0, 60150.0]

In [9]:
hitesh_df['Salary'] = hitesh_df.index

In [10]:
hitesh_df['Exp.'] = hitesh_df[0]

In [11]:
hitesh_df.reset_index()

     index    0   Salary  Exp.
0  39343.0  1.1  39343.0   1.1
1  46205.0  1.3  46205.0   1.3
2  37731.0  1.5  37731.0   1.5
3  43525.0  2.0  43525.0   2.0
4  39891.0  2.2  39891.0   2.2
5  56642.0  2.9  56642.0   2.9
6  60150.0  3.0  60150.0   3.0

In [13]:
df = hitesh_df[['Salary','Exp.']]

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(df[['Exp.']],df['Salary'],sample_weight=None)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
reg.coef_

array([9555.38235294])

In [16]:
reg.intercept_

27101.66386554621

In [17]:
reg.predict(np.array(7.5).reshape(-1,1))

array([98767.03151261])